<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
        @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Home", new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("About", "About", "Home", new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home", new { @class = "nav-link" })</li>
            </ul>
        </div>
    </nav>
</header>

<div style="padding-bottom: 75px"></div>