@{
    ViewBag.Title = "List";
}

<h1 class="text-center">Orders List</h1>
<div class="row mb-4">
    <div class="col-sm-6 offset-sm-3 text-center">
        @Html.ActionLink("Create", "Create", "Orders", null, new { @class = "btn btn-primary" })
    </div>
</div>
<div class="row mb-4">
    <div class="col-sm-6 offset-sm-3">
        <div class="card">
            <div class="card-header">
                <i class="text-muted">ddd:ww:mm:yyyy left</i>
            </div>
            <div class="card-body">
                <b>Name</b>               
            </div>
            <div class="card-footer">
                @Html.ActionLink("Details", "Details", "Orders", null, new { @class = "btn btn-primary" })
                @*<a href="#" class="btn btn-primary">Details &rarr;</a>*@
            </div>
        </div>
    </div>
</div>