@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Welcome!</h1>
    <hr />
    <p class="lead">Kindly click one of the options below to get started!</p>
</div>

<div class="row">
    <div class="col-sm">
        <a href="#" class="custom-card">
            <div class="card text-center mb-3">
                <img class="card-img-top" src="~/Content/Images/contracts.jpg" alt="Card image cap">
                <div class="card-footer">
                    <b>Contracts</b>
                </div>
            </div>
        </a>
    </div>
    <div class="col-sm">
        <a href="#" class="custom-card">
            <div class="card text-center mb-3">
                <img class="card-img-top" src="~/Content/Images/contracts.jpg" alt="Card image cap">
                <div class="card-footer">
                    <b>Orders</b>
                </div>
            </div>
        </a>
    </div>
    <div class="col-sm">
        <a href="#" class="custom-card">
            <div class="card text-center mb-3">
                <img class="card-img-top" src="~/Content/Images/contracts.jpg" alt="Card image cap">
                <div class="card-footer">
                    <b>Extensions</b>
                </div>
            </div>
        </a>
    </div>
    <div class="col-sm">
        <a href="#" class="custom-card">
            <div class="card text-center mb-3">
                <img class="card-img-top" src="~/Content/Images/contracts.jpg" alt="Card image cap">
                <div class="card-footer">
                    <b>Delivery</b>
                </div>
            </div>
        </a>
    </div>
</div>