@{
    ViewBag.Title = "Login";
}

<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card" id="login">
            <div class="card-header text-center">
                <h4>Login</h4>
            </div>
            <div class="card-body">
                <form class="mb-3">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text custom-input-group-addon" id="inputGrpEmail">E-mail: </span>
                            </div>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="inputGrpEmail" placeholder="Enter your e-mail...">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text custom-input-group-addon" id="inputGrpPassword">Password: </span>
                            </div>
                            <input type="password" class="form-control" id="exampleInputPassword1" aria-describedby="inputGrpPassword" placeholder="Enter your password...">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-lg btn-primary btn-block">Log in</button>
                </form>
                <p class="text-center text-muted mb-0">Can't remember your password? Reset it by clicking <a href="#">here</a>...</p>
            </div>
        </div>
    </div>
</div>