@{
    ViewBag.Title = "Details";
}

<h1 class="text-center pb-4">Delivery Details</h1>

<div class="row mb-4">
    <div class="col-sm-6 offset-sm-3">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Date Delivered</h4>
                <p class="card-text">Delivery date goes here</p>
                <hr />
                <h4 class="card-title">Order Amount</h4>
                <p class="card-text">Amount goes here</p>
                <hr />
                <h4 class="card-title">Order Cost</h4>
                <p class="card-text">Cost goes here</p>
                <hr />
                <h4 class="card-title">Created On</h4>
                <p class="card-text">Date created goes here</p>
                <hr />
                <h4 class="card-title">Last Edited On</h4>
                <p class="card-text">Last edited date goes here</p>
            </div>
        </div>
    </div>
</div>
<div class="row mb-4">
    <div class="col-sm-6 offset-sm-3">
        <div class="row">
            <div class="col-sm-6 pr-sm-2">
                <button class="btn btn-success btn-block">Accept</button>
            </div>
            <div class="col-sm-6 pl-sm-2">
                <button class="btn btn-danger btn-block">Reject</button>
            </div>
        </div>
    </div>
</div>